.red {
    color: red
}

/* nav-icon-5 */
.nav-icon-5 {
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-5 span {
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms;
  }
  .nav-icon-5 span:nth-child(1) {
    top: 0px;
    left: 0px;
  }
  .nav-icon-5 span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
  }
  .nav-icon-5 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
  }
  .nav-icon-5:not(.open):hover span:nth-child(1) {
    transform: rotate(-3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(2) {
    transform: rotate(3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(3) {
    transform: rotate(-4deg) scaleY(1.1);
  }
  .nav-icon-5.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
  }
  .nav-icon-5.open span:nth-child(2) {
    opacity: 0;
  }
  .nav-icon-5.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
  }
  
  /* Clases para menu desplegable */
  .links{
    position: absolute;
    left: -2000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .links ul li{
    font-size: 2rem;
    display: block;
  }
  
  .links.active {
    width: 100%;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
    border-top: 1px solid rgb(199 210 254);
    transition: all .7s ease-in-out;
  }
  
  @media (min-width: 768px) {
    .burger {
      display: none;
    }
  
    .links {
      position: initial;
      margin: 0;
    }
  
    .links ul li {
      font-size: 1rem;
      color: white;
      display: inline;
    }
  }
  
  .bigDiv {
    position: absolute;
    top: -1000px;
    left: -2000px;
    width: 100%;
    height: 100%;
    z-index: -0.5;
    transition: all .7s ease-in-out;
      
  }
  .bigDiv.active {
    width: 100%;
    height: 50%;
    top: 0px;
    left: 0px;
    border-radius: 0 0 20% 0;
  }
  